body {
    align-items: center;
    justify-content: center;

}

:root {
    --formsBg:#e3e5d7 ;
    --formsButtons:#a5c8ca ;
    --formsButtonsHover:#586875 ;
    --formsInputs: ;
    --formsShadow1:#e3e5d7 ;
    --formsShadow2: #bdd6d2;
}

.registro {
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--formsBg);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 8px 16px 8px var(--formsShadow1), 0 4px 8px var(--formsShadow2);
    animation: bgAnimated infinite ease-in-out 1s alternate;
}

@keyframes bgAnimated {
    0% {
        box-shadow: 0 8px 16px 8px var(--formsShadow1), 0 4px 8px var(--formsShadow2);
    }

    100% {
        box-shadow: 0 8px 16px  var(--formsShadow1), 0 4px 8px var(--formsShadow2);
    }
}

.registro form {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
}

.registro form input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--formsButtons);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.registro a {
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.registro a:hover {
    color: var(--formsButtonsHover);
}

.registro button {
    width: 100%;
    background-color: var(--formsButtons);
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    transition-duration: .1s;
}

.registro button:hover {
    background-color: var(--formsButtonsHover);
}

.register-button {
    width: 100%;
    background-color: var(--formsButtons);
    color: white;
    padding: 14px 20px;
    margin: 10px ; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

.register-button:hover {
    background-color:var(--formsButtonsHover);
}

.reset-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--formsBg);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 8px 16px 8px var(--formsShadow1), 0 4px 8px var(--formsShadow2);
    animation: bgAnimated infinite ease-in-out 1s alternate;
}

.reset-password button {
    width: 100%;
    background-color: var(--formsButtons);
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

.reset-password button:hover {
    background-color: var(--formsButtonsHover);
}

.reset-password form input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--formsBg);
    background-color: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.registro {
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--formsBg);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 8px 16px 8px var(--formsShadow1), 0 4px 8px var(--formsShadow2);
    animation: bgAnimated infinite ease-in-out 1s alternate;
}