<section class="chat-web">

    <h2>Chat con Websockets</h2>
<hr>

<div>
    <div id="messageLogs" class="messagelogsclass"></div>
    <input id="chatBox" placeholder="Envia un mensaje">
    <button id="delete-btn">Eliminar historial de chat</button>
</div>

<br><br>
<a href="/" class="ruta">Home Page</a>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
</section>