<section class="registro">
    <h2>Register</h2>
    <hr>
    <form action="/api/sessions/registro" method="post">
        <input type="text" name="nombre" placeholder="Name">
        <input type="email" name="email" placeholder="Email address">
        <input type="password" name="password" placeholder="Password">
        <input type="number" name="age" placeholder="Age" min="10" max="100"    >

        <br>
        <input type="submit" value="Registrar" class="register-button">
    </form>
    <a href="/login">¿Ya tienes una cuenta? Inicia sesión</a>
    </div>
</section>