*{
   box-sizing: border-box;
}
h2{
   color: red;
}
.card{
   background-color: red;
   border-radius: 20px;
}
.card:hover{
   transition: 0.4s;
   transform: scale(1.03);
}
.container{
   background-color: rgb(97, 121, 101);
}
.containerRealTime{
   background-color: rgb(177, 190, 179);
}